rules_version='2'

service cloud.firestore {
  match /databases/{database}/documents {
    match /worldState/{documentId} {
      allow read: if true;
      allow write: if false;
    }

    match /supply_chain/{documentId} {
      allow read, write: if false;
    }

    match /{document=**} {
      allow read, write: if false;
    }
  }
}
